*{

    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}

#contenedor{

    width: 100%;
    height: 100%;

}

header{

    padding: 20px;
    background-color: black;
    text-align: center;

}

nav{

    display: flex;
    flex-direction: row;
    background-color: #333;
    height: 10%;

}

nav a{

    color: #d1d5db;
    padding: 14px 20px;
    text-decoration: none;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

section{

    background-color: transparent;
    flex: 70%;
    padding: 20px;
    height: 70%;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #d1d5db;
    height: 7%;

}

.imglogo{

    width: 20%;
    height: 10%;

}

.sagaz{

    width: 100%;
    padding-top: 30px;

}

table{

    border: solid black;
    width: 90%;
    padding: 10px 10px 100px 10px;

}

.carrito{

    width: 30px;

}

td{

    border: solid black;
    padding: 20px;

}

p{

    text-align: justify;
    font-size: 20px;
    color: #d1d5db;
    padding: 50px 100px 80px;

}

h1{

    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 50px;

}

h3{

    text-align: center;
    font-size: 25px;
    color: #d1d5db;
    padding-top: 5px;

}

h2{

    text-align: center;
    font-size: 25px;
    color: #d1d5db;
    padding-top: 5px;

}

h4{

    text-align: center;
    font-size: 20px;
    color: #d1d5db;
    padding-top: 5px;

}

video{

    border: solid  1px #d1d5db;

}

.imgcons{

    width: 90%;

}

.imgnot{

    width: 100%;
    height: auto;
    display: flex;

}

ul{

    text-align: center;
    padding: 5px;
    color: white;

}

li{

    display: inline;
    padding: 10px 0 0 120px;
    margin: 5em;

}

li a:hover{

    color: red;
    text-decoration: none;
    list-style: none;
    
}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}